canvas {
    border: 1px solid;
    position: absolute;
    top: 0;
    left: 50;
}
#canvas {
    mix-blend-mode: difference;
}

.cvs_wrapper{
    justify-content: center;
    margin: 0 auto;
    width: 500px;
    height: 500px;
}

#color-picker{
    margin-top: 16px;
}